<div class = "page">
  <header class="header">
    <h1 class = "header-title">KASPI</h1>
  </header>
  <nav class="categories">
    @for (category of categories; track category.id) {
      <button
        class="category-btn"
        [class.active]="selectedCategoryId === category.id"
        (click)="selectCategory(category.id)">
        {{ category.name }}
      </button>
    }
  </nav>
  @if (selectedCategoryId === null) {
    <div class="welcome">
      <p>Выберите категорию чтобы увидеть товары</p>
    </div>
  } @else if (filteredProducts.length === 0) {
    <div class="welcome">
      <p>В этой категории больше нет товаров</p>
    </div>
  } @else {
    <main class="product-grid">
      @for (product of filteredProducts; track product.id) {
        <app-product-card
          [product]="product"
          (deleteProduct)="deleteProduct($event)"
          (likeProduct)="likeProduct($event)" />
      }
    </main>
  }
</div>
