.container{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    height: 70vh;
    gap: 50px;
}
.Logo{
    justify-content: right;
    max-width: 500px;
    margin-bottom: 100px;
}
.Logo img{
    max-width: 350px;
    margin-left: -35px;
}
.Logo p{
    margin-top: -15px;
}
.Login{
    background: white;
    padding: 20px;
    border-radius: 6px;
    width: 420px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 8px 16px rgba(0,0,0,0.1);
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    font-size: 20px;
    box-sizing: border-box;
}
input[type=submit]{
    background: #1877f2;
    color : white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.Logo p{
    font-size: 28px;
    line-height: 32px;
    width: 450px;
}
.Login button{

    background: limegreen;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    border: none;
}
.Login button:hover{
    cursor: pointer;
    background: seagreen;
}
.bottom-text{
    margin-top: 20px;
}
.Login hr{
    border: none;
    border-top: 1px solid darkgrey;
    margin-bottom: 10px;
}
.Login a{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #1877f2;
    text-decoration: none;
}
.Login a:hover{
    color: blue;
    text-decoration: underline;
}
.Rigth-content p{
    text-align: center;
}